*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}


:root{
	--colorSecondary:#23cba5;
	--colorMain:#CB955B;
	--colorThird:#F0F0F0;
	--colorFourth:#F9F9FA;
	--colorFive:#F5F5F5;
}


/**Style Section Nav */

.nav .profile img{
	width:40px;
	height:40px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
}


.nav .logo p{
	font-size: 32px;
	font-style:Helvetica;
}
.nav .logo p span{
	color:var(--colorMain);
}

.nav .setting{
	cursor: pointer;
}


.nav .setting button{
	background-color: var(--colorSecondary);
	color: white;
}



/**Style Section Nav */







/**Style For overlay */
.overlay, .overlayTwo{
	width:100%;
	height:100%;
	position: fixed;
	top:0;
	left: 0;
	right: 0;
	bottom: 0;
	transform: translateX(-100%);
	background-color: rgb(255,255,255);
	z-index: 5000;
	-webkit-transform: translateX(-100%);
	-moz-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	-o-transform: translateX(-100%);
	overflow: scroll;
}

.overlay .close , .overlayTwo .closeTwo{
	width:60px;
	height: 60px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	cursor: pointer;
	background-color: var(--colorThird);
	padding: 10px;
	text-align: center;
	font-size: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
}


.overlay .fact{
	width:80%;
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.overlay .links div{
	width:40px;
	height:40px;
	margin: 15px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color:var(--colorThird);
	font-size: 25px;
	/* color:#1959da; */
}
.overlay .links div:nth-child(1),.overlay .links div:nth-child(4){
	color:#4267B2;
}
.overlay .links div:nth-child(2){
	color:#09a795;
}
.overlay .links div:nth-child(3){
	color:#1DA1F2;
}

.profile_settings div{
	width:350px;
	background-color: var(--colorFourth);
	padding:10px;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	position: relative;
	margin: 15px;
}
.profile_settings div i{
	position: absolute;
	right: 20px;
	top:40%;
}

.image_profile img{
	width:120px;
	height:120px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
}

.link{
	text-decoration: none;
	color: var(--colorMain);
}
.link:hover{
	color: var(--colorMain);
	text-decoration: none;
}
.overlayTwo .card-body{
	background-color: #E9D2BA;
}
.overlayTwo .card{
	margin-bottom:30px;
}
/**Style For overlay  , overlayTwo*/




/**Style For search */
.search input[type="search"]{
	background-color:var(--colorFive);
}
/**Style For search */




/** Style Section Product */

.product h3{
	color:#3B3B3B;
}
.product .product_details .card{
	margin-bottom:25px;
	min-height: 350px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
}

.product .product_details .card .card-body{
	background-color:#F9F9FA
}
.product .product_details .card .card-body .card-title{
	color:#3B3B3B;
}
.product .card .card-body img{
	width:25px !important;
}
.product .card .card-body span{
	font-size: 14px;
}
#day{
	color: var(--colorMain);
}

/** Style Section Product */

/**style Section Footer */

.nav_footer .footer_items{
	width:400px;
	background-color: #F0F0F0;
	box-shadow: 1px 1px 8px 1px #000;
	padding:10px;
	margin: auto;
	border-top-right-radius: 50px;
	border-top-left-radius: 50px;
	position:fixed;
	top:90%;
	left:50%;
	transform: translate(-50%,-50%);
	z-index: 10;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
}

.nav_footer .footer_items div{
	width:50px;
	height:50px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.nav_footer .footer_items div:nth-child(3){
	margin-top:-50px;
	background-color: var(--colorMain);
}
/**style Section Footer */





@media(max-width:768px){
	.nav .setting button{
		display: none;
	}
	.profile_settings div{
		width: 100%;
	}
	.overlay .fact{
		flex-direction: column;
	}
	.profile_settings{
		width:300px;
	}
	.overlay .links{
		flex-direction: row;
	}
	.nav_footer .footer_items{
		width:350px;
		padding:5px;
	}
}

/**
 * style Slider
 */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.scroll-tabs {
	position: relative;
	font-family: "Roboto", sans-serif;
	background: #eee;
}

.scroll-tabs .nav-tabs {
	border-bottom: none;
}
.scroll-tabs .nav-tabs.nav-justified > li > a {
	border: none;
	border-radius: 0;
}
.scroll-tabs .nav-tabs.nav-justified > .active > a, .scroll-tabs .nav-tabs.nav-justified > .active > a:hover, .scroll-tabs .nav-tabs.nav-justified > .active > a:focus {
	border: none;
}
.scroll-tabs .nav-tabs > li.active > a, .scroll-tabs .nav-tabs > li.active > a:hover, .scroll-tabs .nav-tabs > li.active > a:focus {
	color: red;
	cursor: default;
	background-color: transparent;
	border: none;
	border-bottom-color: transparent;
	opacity: 1;
}
.scroll-tabs .nav-tabs > li {
	margin-bottom: 0;
	line-height: 50px;
}
.scroll-tabs .nav-tabs > li > a {
    padding: 1.125rem 1.5rem 1.0625rem;
    color: rgba(0, 0, 0, 0.54);
    font-size: 0.875rem;
    font-weight: 500;
    margin-right: 0;
    line-height: 1;
    border: none;
    border-radius: 0;
    text-transform: uppercase;
    text-decoration: none;
    border-radius:10px ;
    -webkit-border-radius:10px ;
    -moz-border-radius:10px ;
    -ms-border-radius:10px ;
    -o-border-radius:10px ;
}
/* .scroll-tabs .nav-tabs > li > a:hover, .scroll-tabs .nav-tabs > li > a:focus {
	border-color: transparent;
	background-color: #f2f2f2;
} */
.scroll-tabs .scroll-tab-active-bar {
	position: absolute;
	bottom: 0;
	width: 25%;
	height: 3px;
	background: #000;
	transition: all 0.2s ease-in-out;
}
.scroll-tabs-bg {
	background-color: #000;
}
.scroll-tabs-bg .nav-tabs > li > a {
	color: black;
    font-size: 20px;
}
.scroll-tabs-bg .nav-tabs > li > a > img{
    width:25px;
}
.scroll-tabs-bg .nav-tabs > li > a > span{
    margin-right:15px;
}
.scroll-tabs-bg .nav-tabs > li .dropdown-menu a {
	color: #333333;
}
.scroll-tabs-bg .nav-tabs > li.active > a, .scroll-tabs-bg .nav-tabs > li.active > a:hover, .scroll-tabs-bg .nav-tabs > li.active > a:focus {
	color: rgb(0, 0, 0);
	font-weight: 500;
}
.scroll-tabs-bg .scroll-tabs-scroll-right, .scroll-tabs-bg .scroll-tabs-scroll-left {
    background-color: #fff;
    color: black;
    width:50px;
    height: 50px;
    border-radius:50% ;
    -webkit-border-radius:50% ;
    -moz-border-radius:50% ;
    -ms-border-radius:50% ;
    -o-border-radius:50% ;
    box-shadow: 1px 1px 10px 1px #000;
}
.scroll-tabs-scroll-container {
	display: block;
	width: 100%;
	position: relative;
	overflow: hidden;
    background-color: #fff;
}
.scroll-tabs-scroll-right {
	float: right;
	right: 0;
	top: 0;
}
.scroll-tabs-scroll-left {
	float: left;
	left: 0;
}
.scroll-tabs-scroll-right, .scroll-tabs-scroll-left {
	position: absolute;
	z-index: 99;
	text-align: center;
	cursor: pointer;
	display: none;
	white-space: no-wrap;
	vertical-align: middle;
	padding: 0.75rem 1.5rem 0.375rem;
	background-color: #fff;
	color: #868e96;
	line-height: 1.7;
}
.tab-content {
    margin-top: 25px;
	background: #fff;
	padding: 15px;
}
h1 {
	font-size: 90px;
	color:#000;
	position: absolute;
	top: 45%;
	text-align: center;
	font-weight: 900;
	display: block;
	left: 0;
	right: 0;
	line-height: 110px;
}
.slider{
    width:90%;
    margin: auto;
}

.card img{
	width:100% !important;
	max-height:150px;
}

.cars > div{
	padding:10px;
}

.homes > div{
	margin-bottom:15px;
	padding: 10px;
}

.dropdown-menu{
	position: absolute !important;
	left:-150% !important;
	width:450px;
	margin-top:10px !important;
}




.nav-tabs > li{
	width:80px;
	height:80px;
	/* margin: 2px; */
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: var(--colorFive);
	text-align: center;
}

.nav-tabs > li > a{
	text-align: center;
} 
.nav-tabs .vector{
	width:50px !important;
}

/**
 * End Of style Slider
 */